/* font-family: new-spirit,serif;
font-weight: 700;
font-style: normal;

font-family: owners,sans-serif;
font-weight: 900;
font-style: normal;

font-family: owners-xwide,sans-serif;
font-weight: 700;
font-style: normal;

font-family: owners-wide,sans-serif;
font-weight: 700;
font-style: normal;

font-family: owners-xxwide,sans-serif;
font-weight: 400;
font-style: normal; */



* {
  border: none;
  padding:0;
  margin: 0;

  box-sizing: border-box;
}

body {
  font-size: 16px;
  background-color: #fff;
  color: #fff;
}

.hidden { display: none; }

.main-header {
  background-color: #134629;
  padding: 5em 5em;
}

.main-heading {
  color: #C6CB4A;
  cursor: pointer;

  text-align: center;
  font-family: owners-xwide,sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1.98px;

  font-size: 3em;
}

.available {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: .5em
}

.available p {
  color: #AFBCB4;

  text-align: center;
  font-family: owners-xxwide,sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.66px;
}

.format {
  height: 34px;
  align-self: center;
}

#svg-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  grid-gap: 20px;
}

.container { display: flex; }


/* descendant selector */
.container img { width: 100%;}

/* interactive SVG rules */
.cls-2:hover {
  fill: orange;
}
